@page "/fetchitems"
@using SheikahSlate.Shared.Model
@inject HttpClient Http

<h1>Items Forecast</h1>

<p>I see Items in your future</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cur. State</th>
                <th>Max. State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.ItemName</td>
                    <td>@item.CurrentState</td>
                    <td>@item.MaxState</td>
                </tr>
            }
        </tbody>
    </table>
}

@foreach (var item in items) {
    <img src="Images/@item.ImageUrl" @onmouseup="@(e => clickHandler(e, item))" oncontextmenu="return false;" width="300px" />
}

@code {
    private IEnumerable<Item> items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<IEnumerable<Item>>("Items");
    }

    private void clickHandler(MouseEventArgs args, Item item) {
        if (args.Button == 0) {
            item.CurrentState++;
            return;
        }
            
        if (args.Button == 2) {
            item.CurrentState--;
            return;
        }
    }

}
